*{
    border: 0;
    margin:0;
    padding:0;
}


body {
    background-image: url("../hinh\ nen/hinhnen1.webp");
    background-repeat: none;
    background-attachment: fixed;
    background-color: whitesmoke;
    height: auto;

}
header, address {
    color: yellow;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 2%;
    text-shadow: 2px 2px #FF0000;
}
nav{
    display: flex;
    justify-content: space-evenly;
    font-size: 5rem;
    color: lightblue;
    text-shadow: 2px 2px 4px #000000;
    margin:2%;
    box-shadow: 5px 10px 18px red;


    
}

nav a{
    border: 5px;
    border-color: yellow;
    border-radius: 25px;
    padding: 2%;
    background-color: lightyellow;
    text-align: center;
    text-decoration: none;
}
a:visited{
    color: lightblue;
}
a:link{
    color:lightblue;
}
a:hover{
    color: blue;
}



address{
    background-color: #A27E6F;
    margin-left: 0;
    padding:1%;
    margin-right: 0;
    color:yellow;
    text-align: center;
    display: block;
}

section{
    background-color: #CADBC0;
    height: auto;
    margin: 5%;
    border-radius: 25px;
    padding: 2%;
    text-align: center;
    font-size: 2rem;
    margin:2%;
    box-shadow: 5px 10px 18px red;
}

footer{
    clear: both;
    position: relative;
    height: auto;
    margin-top: -50px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 2%;
    color: yellow;
    margin-top: 2%;
    margin-bottom: 0;
}

.container-fluid{
    display: flex;
    justify-content: center;
    box-shadow: 5px 10px 18px red;
}


p{
    font-family: 'Cookie', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Edu TAS Beginner', cursive;
font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Parisienne', cursive;
font-family: 'Rampart One', cursive;
font-family: 'Rye', cursive;
font-family: 'Stint Ultra Condensed', cursive;
}

h2{
    font-family: 'Cookie', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Edu TAS Beginner', cursive;
font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Rampart One', cursive;
font-family: 'Rye', cursive;
font-family: 'Stint Ultra Condensed', cursive;
}
h1{
    font-family: 'Cookie', cursive;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Rampart One', cursive;
    font-family: 'Rye', cursive;
}

address {
    font-family: 'Cookie', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Edu TAS Beginner', cursive;
font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Rampart One', cursive;
font-family: 'Rye', cursive;
}

.map{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #A27E6F;
}

#hinh{
    background-color: transparent;
}

#phone_call a{
    text-decoration: none;
    background-color: whitesmoke;
    border-radius: 25px;
    color: aqua;
}

/* Extra small devices (phones, 600px and down) */
  @media (max-width: 1000px) {
    body {
        width:auto;
        text-align: center;
    
    }
    nav{
        display: block;
    }
    nav a{
        display: inline-block;
        font-size: 3rem;
        text-align: center;
        border-radius: 10px;
        
    }
    header{font-size: auto;}
  }

